.footercontainer {
     position: fixed;
     bottom:0;
     display: flex;
     justify-content: center;
     align-items: center;
     width:100vw;
     background: rgb(17, 17, 17);
     color:white;
     padding:20px;
     height:10dvh;
     box-shadow: 0px 0px 80px 8px rgba(0,0,0,0.75);
     -webkit-box-shadow: 0px 0px 180px 8px rgba(0,0,0,0.75);
     -moz-box-shadow: 0px 0px 180px 8px rgba(0,0,0,0.75);
}